.socket-container{
    display: flex;
    align-items: center;
}
.names-container{
    border: 1px solid brown;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 5px 0;
    margin-left: 5px;
}
.names-container button{
    width: 90%;
    border: 1px solid #a59225;
    background-color: #f3e9c2;
    margin:3px 0;
}
.names-container .active{
    background-color: rgb(239, 239, 239)
}